:root {
    --Negro: #111205;
    --NegroMedio: #1f1f1e;
    --Blanco: #f4f4f4;
    --Rojo: #bc2041;
}

.text-rojo {
    color: var(--Rojo) !important;
}

.bg-rojo {
    background-color: var(--Rojo) !important;
}

.text-negro {
    color: var(--Negro) !important;
}

/*Es el menú hamburguesa*/
/*Barra lateral*/
.sidebar {
    width: 260px;
    height: 100vh;
    background: var(--Blanco);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 10px var(--Rojo);
    z-index: 1000;
    padding: 1.5rem 0;
    transition: transform 0.3s ease-in-out;
    /*hace que la barra lateral se desplace suavemente (ease-in-out), empieza lento acelera y termina lento*/
}



.logo-container {
    display: flex;
    align-items: center;
}

.sidebar-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
    overflow-y: auto;
}

/*items de la barra lateral*/
.nav-item {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    border: none;
    background: transparent;
    color: var(--Negro);
    /*Color negro de las letras*/
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: left;
    font-weight: 500;
    font-size: 0.95rem;
    text-decoration: none;
    /* Ensure no underline for NavLink */
}

.nav-item:hover {
    background-color: #f8f9fa;
    color: var(--Rojo);
}

/*items*/
.nav-item.active {
    background-color: var(--Blanco);
    color: var(--Rojo);
    font-weight: 600;
}

.nav-item i {
    font-size: 1.1rem;
}



/* Mobile Responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        box-shadow: none;
    }

    .sidebar.open {
        transform: translateX(0);
        box-shadow: 4px 0 15px var(--Negro);
    }

    .btn-close-sidebar {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--Negro);
        padding: 0;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out;

    }

    .btn-close-sidebar:hover {
        transform: scale(1.3);
        color: var(--Rojo);
    }

}